#conteudo {
  background: #dcdcdc;
  height: 600px;
  display: flex;
}

.item {
  /*width: 200px;*/
  height: 200px;
  margin: 10px;
  background: white;
  border: 1px solid gray;
  /*Defini a proporção de espaço por um item.*/
  flex-grow: 0;

  /*Define a capacidade de redução de tamanho do item.*/
  flex-shrink: 1;

  /*Indica o tamanho inicial do flex item antes da distribuição do espaço restante.*/
  flex-basis: auto;

}

.item1 {
  /*flex-grow: 1;*/
  flex-shrink: 1;
}

.item2 {
  /*flex-grow: 2;*/
  flex-shrink: 2;
}

.item3 {
  /*flex-grow: 2;*/
  flex-shrink: 3;
}
